@import '../../style/variable';
.profile {
	min-height: 100%;
	width: 100%;
	background: $secondary-bg-color;
}
.img_cont {
	background: $primary-bg-color;
	text-align: center;
	margin-top:3px;
	padding:5px 0 20px 0;
}
.profile_pic {
	position: relative;
	display: inline-block;
}
.add_btn {
	position: absolute;
	bottom: 0;
	right: 0;
}
.name {
	margin-top: 10px;
	font-size: 1rem;
}
.city{
	font-size: 0.7rem;
	font-weight: 300;
}
.profile-tab {
	margin-top:3px;
	background: $primary-bg-color;
}
.mdc-tab-bar-scroller {
	background: $primary-bg-color;
}
.mdc-tab {
	text-transform: capitalize;
	font-family: 'Oswald', sans-serif;
	font-size:15px;
}
.mdc-tab--active {
	font-size:18px;
}
.add_address {
background: #FFF;
color:$primary-color;
font-weight: 200;
margin: 5px 10px;
padding: 10px;
border-radius: 2px;
i {
	vertical-align: text-top;
	color: rgba(19, 21, 53, 0.24);
	font-size: 1.5rem;
}
}
.mdc-switch {
	float:right;
	margin-top: 5px;
}
.clear-fix {
	clear: both;
}
.mdc-switch__native-control:checked ~ .mdc-switch__background::before {
	background: #8bb75b;
}
.mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob {
	background: #8bb75b;
}
.notification-card,.order-history {
background: #FFF;
color:$primary-color;
font-weight: 200;
margin: 5px 10px;
padding: 10px;
border-radius: 2px;
}
.saved-card {
background: #FFF;
color:$primary-color;
font-weight: 200;
margin: 5px 10px;
padding: 10px;
border-radius: 2px;
img {
	float: right;
	width: 40px;
}
}
.order-header {
	font-size: 1rem;
	font-weight: 400;
	.order-id {
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-price {
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
}
.order-header-expanded {
	font-size: 1rem;
	font-weight: 400;
	.order-id {
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-status {
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
	.order-date {
		font-size: 0.8rem;
		font-weight: 200;
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-time {
		font-weight: 200;
		font-size: 0.8rem;
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
}
.order-body {
	font-size: 0.8rem;
	margin-bottom: 5px;
	.order-date {
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-time {
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
}
.order-body-expanded {
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid rgba(19, 21, 53, 0.14);
	font-size: 0.8rem;
	margin-bottom: 5px;
	.order-main-item {
		font-size: 1rem;
		width: 49.5%;
		display: inline-block;
		text-align: left;
		font-weight: 400;
		&:after{
		content: " ";
		border-bottom-style: solid;
		border-bottom-width: 1px;
		display: table-cell;
		width: 35px;
		border-bottom-color: $secondary-color;
	}
	}
	.order-main-price {
		font-size: 1rem;
		width:49.5%;
		display: inline-block;
		text-align: right;
		font-weight: 400;
	}
	.order-side-item {
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-side-price {
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
}
.order-footer {
	padding-top: 5px;
	border-top: 1px solid rgba(19, 21, 53, 0.14);
	font-size: 1.1rem;
	.order-status {
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-time {
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
}
.order-footer-expanded {
	padding-top: 5px;
	border-top: 1px solid rgba(19, 21, 53, 0.14);
	font-weight: 400;
	font-size: 1.1rem;
	.order-total {
		width: 49.5%;
		display: inline-block;
		text-align: left;
	}
	.order-price {
		width:49.5%;
		display: inline-block;
		text-align: right;
	}
}
