@import '../../style/variable';
.card {
	position: relative;
	background: #FFF;
	margin: 5px 10px;
	padding: 5px 5px 5px 10px;
	border-radius: 2px;
}
.card_title {
	font-weight: 300;
	&:after{
	content: " ";
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: table-cell;
	width: 35px;
	border-bottom-color: $secondary-color;
}
}
.card_name {
	font-size: 14px;
	font-weight: 200;
}
.card_description {
	font-size: 13px;
	font-weight: 200;
	padding: 2px 0;
}
.right_icons {
	display: inline-block;
	position: absolute;
	right: 10px;
	i{
		font-size: 20px;
		color: $secondary-color;
	}
}
