@import '../../style/variable';
.home {
	min-height: 100%;
	width: 100%;
	position: relative;
	padding-bottom: 60px;
}
::-webkit-scrollbar {
    display: none;
}
.group_img {
	width: 100%;
}
.tab-container {
	margin-top: -12px;
}
ul {
	overflow: auto;
	white-space: nowrap;
	background: #fff;
	padding: 5px;
  margin-bottom: 5px;
	li {
		display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
		position: relative;
		&:hover {
			cursor: pointer;
			&:after {
				content: " ";
				border-bottom-style: solid;
				border-bottom-width: 2px;
				width: 100%;
				left: 0;
				right: 0;
				position: absolute;
				bottom: -5px;
				margin: 0 auto;
				display: block;
				border-bottom-color: #d75a4a;
			}
		}
	}
}
.active {
	font-size:18px;
	&:after {
		content: " ";
		border-bottom-style: solid;
		border-bottom-width: 2px;
		width: 100%;
		left: 0;
		right: 0;
		position: absolute;
		bottom: -5px;
		margin: 0 auto;
		display: block;
		border-bottom-color: #d75a4a;
	}
}
.home-footer {
	position: fixed;
	bottom:0;
	width: 100%;
	max-width: 1024px;
	button {
		background: #8bb75b;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    height: 60px;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
		div:first-child {
			display: inline-flex;
			float: left;
			line-height: 25px;
			&:after {
				content:'Delivery charges may apply*';
				font-size: 0.5rem;
				position: absolute;
				top:30px;
				left: 20px;
			}
		}
		div:nth-child(2) {
			display: inline-flex;
			float: right;
		}
	}
}
.clear-fix {
	clear: both;
}
