@import '../../style/variable';
.payment {
	min-height: 100%;
	width: 100%;
	position: relative;
}
.payment-footer {
	position: fixed;
	bottom:0;
	width: 100%;
	max-width: 1024px;
	button {
		background: #8bb75b;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
	}
}
.mdc-radio__background::before,.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle {
	background: #8bb75b;
}
.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle {
	border-color: #8bb75b;
}
.card {
	position: relative;
	background: #FFF;
	margin: 5px 10px;
	padding: 5px 5px 5px 10px;
	border-radius: 2px;
	.destination {
		border-bottom: 1px solid rgba(19, 21, 53, 0.14);
		.delivery,.pickup {
			width:49.5%;
			display: inline-block;
			.mdc-radio {
				vertical-align: -13px;
				&:before {
					background-color: rgba(139, 182, 92, 0.14);
				}
				&:after {
					background-color: rgba(139, 182, 92, 0.14);
				}
			}
		}
	}
.card_title {
	font-weight: 300;
	label {
		position: relative;
	&:after {
		content: " ";
		border-bottom-style: solid;
		border-bottom-width: 1px;
		position: absolute;
		bottom: 0;
    left: 0;
    width: 25px;
		border-bottom-color: $secondary-color;
		}
	}
.mdc-radio {
	vertical-align: -10px;
	width: 35px;
	height: 35px;
	&:before {
		background-color: rgba(139, 182, 92, 0.14);
	}
	&:after {
		background-color: rgba(139, 182, 92, 0.14);
	}
}
}
.card_name {
	font-size: 14px;
	font-weight: 200;
	padding-left: 35px;
}
.card_description {
	font-size: 13px;
	font-weight: 200;
	padding: 2px 0;
	padding-left: 35px;
}
}
.cart-item {
	margin: 5px 10px 0 10px;
	background: #FFF;
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 300;
	.item-count,.item-price {
		width: 49.5%;
		display: inline-block;
	}
	.item-price {
		text-align: right;
	}
}
.saved-cards {
	margin: 0 10px;
	background: #FFF;
	h3 {
		margin: 5px 0 0 20px;
    font-size: 1.2rem;
    font-weight: 300;
	}
	.saved-card {
	color:$primary-color;
	font-weight: 200;
	padding: 0 10px;
	border-radius: 2px;
	img {
		float: right;
		width: 40px;
		margin-top: 10px;
		margin-right: 15px;
	}
	.mdc-radio {
		vertical-align: -13px;
		&:before {
			background-color: rgba(139, 182, 92, 0.14);
		}
		&:after {
			background-color: rgba(139, 182, 92, 0.14);
		}
	}
	}
	border-bottom: 1px solid rgba(19, 21, 53, 0.14);
}
.add_card {
	background: #FFF;
	color: #131535;
	font-weight: 200;
	margin: 0 10px;
	padding: 12px 10px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	i {
		vertical-align: text-top;
		color: rgba(19, 21, 53, 0.24);
		font-size: 1.5rem;
	}
}

.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--box):not(.mdc-textfield--multiline) {
	width: 100%;
}
.mdc-textfield__label {
	color:$primary-color;
}
.mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline):not(.mdc-textfield--box)::after {
	background: #8bb75b;
}
.mdc-textfield--focused .mdc-textfield__label {
	color:#8bb75b;
}
.rows {
	width: 100%;
	.col-6 {
		width: 49.5%;
		display: inline-block;
	}
	div:nth-child(2) {
		.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--box):not(.mdc-textfield--multiline) {
			width: 80%;
		}
	}
}
.mdc-dialog__footer{
padding: 0;
button {
	background: #8bb75b;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 400;
	height: 60px;
	border-radius: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
}
}
