@import 'variable';
@import 'media';
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $primary-bg-color;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color:$primary-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background: $secondary-bg-color;
}

.menu_icon {
	color:$primary-color !important;
  font-size: 30px !important;
}
.fav_icon {
	color:$secondary-color !important;
  font-size: 30px !important;
}

.mdc-toolbar__title {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 400 !important;
}

.mdc-temporary-drawer .mdc-list-item {
	font-family: 'Oswald', sans-serif !important;
	font-size: 1.3rem !important;
	padding: 0 30px !important;
}

.mdc-list-item {
	height: 65px !important;
	a {
		text-decoration: none;
		color:$primary-color !important;
	}
}

.mdc-temporary-drawer__header-content {
	display: inline-block !important;
	padding: 20px !important;
}
.mdc-temporary-drawer__header::before {
	padding-top:38% !important;
}

.mdc-temporary-drawer__header {
	&:after {
		content: " ";
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table-cell;
    width: 85%;
    margin: 0 auto;
    display: block;
    border-bottom-color: #f5f5f5;
	}
}
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled){
	background-color: #8bb75b !important;
}

.mdc-tab-bar__indicator {
	background: $secondary-color !important;
}

.mdc-dialog__header {
	text-align: center;
	background: #f2f3f7 !important;
	padding: 0px 24px 0 !important;
	.mdc-dialog__header__title {
		font-family: 'Oswald', sans-serif !important;
		line-height: 4rem !important;
	}
}

.mdc-dialog__body {
	font-family: 'Oswald', sans-serif !important;
	color:#131535 !important;
	p {
		font-family: 'Oswald', sans-serif !important;
		color:#131535;
		font-weight: 300;
	}
	text-align: center;
	button {
		border-radius: 4px;
  	background-color: #2f73c2 !important;
		color: #FFF !important;
		text-transform: capitalize;
		font-family: 'Oswald', sans-serif !important;
		width: 240px;
		font-weight: 300;
	}
	.google button {
		background-color: #e65555 !important;
	}
}

.home {
	.mdc-dialog__body {
		padding: 0 10px 24px;
		margin-top: 0;
	}
	.mdc-radio {
		&:before {
			background-color: rgba(139, 182, 92, 0.14);
		}
		&:after {
			background-color: rgba(139, 182, 92, 0.14);
		}
	}
	.mdc-checkbox {
			&:before {
				background-color: rgba(139, 182, 92, 0.14);
			}
			&:after {
				background-color: rgba(139, 182, 92, 0.14);
			}
		}
		.mdc-radio__background::before,.mdc-radio__native-control:checked,.mdc-radio__background .mdc-radio__inner-circle {
			background: #8bb75b !important;
		}
		.mdc-radio__native-control:checked, .mdc-radio__background .mdc-radio__outer-circle {
			border-color: #8bb75b !important;
		}
		.mdc-checkbox__checkmark,.mdc-checkbox__checkmark__path {
			background: #8bb75b !important;
		}
		.mdc-checkbox__background {
			border-color: #8bb75b !important;
		}
		.mdc-dialog__footer{
		padding: 0;
		button {
			background: #8bb75b;
	    width: 100%;
	    font-size: 1.2rem;
	    font-weight: 400;
	    height: 60px;
	    border-radius: 0;
	    font-family: 'Oswald', sans-serif;
	    text-transform: capitalize;
			div:first-child {
				display: inline-flex;
				float: left;
			}
			div:nth-child(2) {
				display: inline-flex;
				float: right;
			}
		}
	}
}
